<% include include/upinall.inc.ejs%>

<div class="content">
		<div class="module">
            <div class="module-head">
								<h3>添加菜品</h3>
			</div>
            <div class="module-body">
                  <%include include/note.inc.ejs%>

              		<form class="form-horizontal row-fluid" action='kitchen?act=menu_add' method='post'>
						<div class="control-group">
							<label class="control-label" for="basicinput">菜品名称</label>
							<div class="controls">
								<input id="dish_title" type="text"  class="span8"  name="dishtitle"  >
							</div>
						</div>

						<div class="control-group">
								<label class="control-label">主要配料</label>
								<div class="controls">
									<div id="DataTables_Table_0_length" class="dataTables_length">
										 <a id="ingre_btn" href="kitchen?act=menu_add_ingredient&dish_title=宫保鸡丁" class="btn" ><i class="icon-plus shaded"></i>添加配料 </a>
									</div>
								</div>
						 </div>
						 <script>
					   var hrefstr="kitchen?act=menu_add_ingredient&dish_title=宫保鸡丁"+document.getElementById('dish_title').value+"";
                       console.log(hrefstr);

					   document.getElementById('ingre_btn').href=hrefstr;
					   </script><!--添加新菜品名到浮出窗口-->

						<div class="control-group">
							<label class="control-label" for="basicinput">价格</label><!--需要添加如何使用js控制输入的信息-->
							<div class="controls">
								<input type="text"  class="span8"  name="price" >
								<span class="help-inline">保留小数点后两位</span>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">提交</button>
							</div>
						</div>
				    </form>
			</div>
		</div>
		<%if (typeof class_arr!="undefined"){%>
		<div class="shadow"></div><!--添加窗口背景 黑色0.3透明度-->
		<div class="module upfloat"><!--添加窗口的模块 悬浮的-->
			<div class="module-body">
				<form class="form-horizontal row-fluid" action='kitchen?act=menu_add' method='post'>
					<div class="profile-head media">
						<a href="#" class="media-avatar pull-left">
							<img src="images/user.png">
						</a>
						<div class="media-body">
							<h4>
								<%=dish_title%> <small>分类：未指定</small>
							</h4>
							<div class="control-group">
								<textarea id="ingre_textarea" class="span8" rows="5" style="width: 100%;" >所选项目有：</textarea>
							</div>
							<div class="profile-details muted">
								<a href="#" class="btn" style="float: right;">
									<i class="icon-ok shaded"></i>提价配料信息
								</a>
							</div>
						</div>
						<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
						<script>
						$(document).ready(function(){
							$("input[type=checkbox]").click(function(){
							  var checkbox_value = $(this).attr('value');
							  var checkbox_id = $(this).attr('id');
							  console.log(checkbox_id,checkbox_value);
							  if ($("#" + checkbox_id).is(":checked")) {
								   $("#ingre_textarea").append("\r\n'"+checkbox_value+"':33%");
							  }
							});
						});
						</script>
	               </div>
				<ul class="profile-tab nav nav-tabs"><!--可翻开的菜单页 显示内容是配料的分类 实际内容是配料详细表-->
                    <li class=""><a href="#<%=class_arr[0]['class']%>" data-toggle="tab"><%=class_arr[0]['class']%></a></li>
					<% for(var i=1;i<class_arr.length;i++){ %>
					<li><a href="#<%=class_arr[i]['class']%>" data-toggle="tab"><%=class_arr[i]['class']%></a></li>
					<%}%>
				</ul>
				<div class="profile-tab-content tab-content">
					<%for(var i=0;i<class_arr.length;i++){%>
					<div class="tab-pane fade " id="<%=class_arr[i]['class']%>"><!--菜单页对应的显示页面-->
						<div class="control-group">

							 <div class="" >
							 <%for(var j=0;j<ingredient_list.length;j++){%>
		 						<%if(ingredient_list[j].class==class_arr[i]['class']){%>
									<label class="checkbox inline">
										<input type="checkbox" value="<%=ingredient_list[j].text%>" id="<%=ingredient_list[j].id%>">
      									<%=ingredient_list[j].text%>
   								    </label>
								<%}%>
							<%}%>
							</div>
						</div>
					</div>
					<%}%>
				</div>

				</form>
			</div><!--/.module-body-->
        </div>
		<%}%>
</div>
<% include include/downinall.inc.ejs%>
