<% include include/upinall.inc.ejs%>

<div class="content">
		<div class="module">
            <div class="module-head">
								<h3>用户详细信息</h3>
			</div>
            <div class="module-body">
                  <%include include/note.inc.ejs%>

                       <div class="media user">
                           <a class="media-avatar pull-left" href="#">
                               <img src="images/<%= data.head_portrait%>">
                           </a>
                           <div class="media-body">
                               <h3 class="media-title">
                                  <%=data.name%>
                               </h3>
                               <p>
                                   <small class="muted"><%=data.phone%></small></p>
                               <div class="media-option btn-group shaded-icon">
                                   <button class="btn btn-small">
                                       <i class="icon-envelope"></i>
                                   </button>
                                   <button class="btn btn-small">
                                       <i class="icon-share-alt"></i>
                                   </button>
                               </div>
                           </div>
                       </div>

                    <br>
              		<form class="form-horizontal row-fluid" action='?' method='post'>
										<div class="control-group">
											<label class="control-label" for="basicinput">员工工号</label>
											<div class="controls">
												<input type="text"  placeholder="<%=data.job_number%>" class="span8" disabled="" name="username" >
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="basicinput">所属项目</label>
											<div class="controls">
												<select tabindex="1" data-placeholder="<%= data.porject %>" class="span8" name="porject" value="<%= data.porject%>">
													<option  value="<%= data.porject %>"><%= data.porject %></option>
													  <%for (var i=0;i<listProject.length;i++){%>
													<option value="<%=listProject[i]%>"><%=listProject[i]%></option>
											          <%}%>
												</select>
											</div>
										</div>
                                        <div class="control-group">
                                          <label class="control-label">所属部门</label>
                                          <div class="controls">
                                            <select tabindex="1" data-placeholder="<%= data.department %>" class="span8" name="department" value="">
                                              <option name="select_department" value="<%= data.department %>"><%= data.department %></option>
                                              <%for (var i=0;i<listProject.length;i++){%>
                                              <option name="select_department" value="<%=listDepartment[i]%>"><%=listDepartment[i]%></option>
                                              <%}%>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="control-group">
											<label class="control-label">性别</label>
											<div class="controls">
                                                <%if(data.sex=='male'){%>
												<label class="radio inline">
													<input type="radio" name="sex" id="sex_male" value="male" checked="checked">	男</label>
												<label class="radio inline">
													<input type="radio" name="sex" id="sex_female" value="female" >女</label>
                                                    <%}else{%>
                                                <label class="radio inline">
                                                    <input type="radio" name="sex" id="sex_male" value="male" >男</label>
												<label class="radio inline">
													<input type="radio" name="sex" id="sex_female" value="female" checked="checked">女</label>
                                                <%}%>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="basicinput">用户备注</label>
											<div class="controls">
												<textarea class="span8" rows="5" name="othermsg"></textarea>
											</div>
										</div>
                                    	<input type="text"  value="<%=data.id%>" class="span8"  name="user_id" style="visibility:hidden">
 

										<div class="control-group">
											<div class="controls">
												<button type="submit" class="btn">提交更改</button>
											</div>
										</div>
									</form>
							</div>
						</div>



					</div>
<% include include/downinall.inc.ejs%>
