<% include include/upinall.inc.ejs%>
<div class="module">
  <h3>--用户信息变更</h3>
</div><!--module-->
<div class="content">
		<div class="module">
				<div class="module-head">
								<h3>用户信息变更</h3>
				</div>
							<div class="module-body">
                  <% if (data!=null){%>
              		<form class="form-horizontal row-fluid">

										<div class="control-group">
                      <a class="media-avatar pull-left" href="#">
                                                <img src="images/<%=data[0].head-portrait%>">
                      </a>
											<label class="control-label" for="basicinput">用户姓名：</label>
											<div class="controls">
												<input type="text" id="basicinput" placeholder="<%=data[0].name%>" class="span8">
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="basicinput">员工工号</label>
											<div class="controls">
												<input type="text" id="basicinput" placeholder="<%=data[0].job_number%>" class="span8" disabled="">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="basicinput">所属项目</label>
											<div class="controls">
												<select tabindex="1" data-placeholder="<%= data[0].project %>" class="span8">
													<option value=""><%= data[i].project %></option>
                          <%for (var i=0;i<listProject.length;i++){%>
													<option value="Category <%=i+1%>"><%=listProject[i]%></option>
											  	<%}%>
												</select>
											</div>
										</div>
                    <div class="control-group">
                      <label class="control-label" for="basicinput">所属部门</label>
                      <div class="controls">
                        <select tabindex="1" data-placeholder="<%= data[0].department %>" class="span8">
                          <option value=""><%= data[i].department %></option>
                          <%for (var i=0;i<listProject.length;i++){%>
                          <option value="Category <%=i+1%>"><%=listDepartment[i]%></option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
											<label class="control-label">性别</label>
											<div class="controls">
                        <%if(data[0].sex=='male'){%>
                          <label class="radio inline">
  													<input type="radio" name="optionsRadios" id="sex_male" value="male" checked="ture">男
  												</label>
  												<label class="radio inline">
  													<input type="radio" name="optionsRadios" id="sex_female" value="female"> 女
  												</label>
                        <%}else{%>
                          <label class="radio inline">
                            <input type="radio" name="optionsRadios" id="sex_male" value="male" checked="">
                            男
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="optionsRadios" id="sex_female" value="female" checked="ture">
                            女
                          </label>
                        <%}%>
											 </div>
							       </div>

									</form>
                  <% }else{%>

                    <%inculde inculde/note.inc.ejs%>
                  <%}%>

							</div>
        </div>
      </div>

</div>



<% include include/downinall.inc.ejs%>
